<div class="row">
  <div class="col-12">
    <div class="page-title-box d-flex justify-content-between align-items-center">
      <h4 class="page-title">Subject Allocation</h4>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="m-0">Class</h5>
        <button class="btn btn-light waves-effect waves-light" style="padding: 4px 8px;" type="button">
          <i class="fas fa-plus"></i>
        </button>
      </div>
      <div class="card-body h-300">
        <div class="all-row">
          <div class="all-sec activeStatus d-flex align-items-center justify-content-between">
            <h6>K0</h6>
            <div class="dropdown">
              <button type="button" class="btn btn-light waves-effect waves-light dropdown-toggle" style="padding: 4px 8px;" data-toggle="dropdown">
                <i class="fas fa-pen"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" >Edit</a>
                <a class="dropdown-item" >Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="m-0">Section</h5>
        <button class="btn btn-light waves-effect waves-light" style="padding: 4px 8px;" type="button">
          <i class="fas fa-plus"></i>
        </button>
      </div>
      <div class="card-body h-300">
        <div class="all-sec activeStatus d-flex align-items-center justify-content-between">
          <h6>A</h6>
          <div class="dropdown">
            <button type="button" class="btn btn-light waves-effect waves-light dropdown-toggle" style="padding: 4px 8px;" data-toggle="dropdown">
              <i class="fas fa-pen"></i>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" >Edit</a>
              <a class="dropdown-item" >Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="m-0">Subject</h5>
        <button class="btn btn-light waves-effect waves-light" style="padding: 4px 8px;" type="button">
          <i class="fas fa-plus"></i>
        </button>
      </div>
      <div class="card-body h-300">
        <div class="all-sec activeStatus d-flex align-items-center justify-content-between">
          <h6>English</h6>
          <div class="dropdown">
            <button type="button" class="btn btn-light waves-effect waves-light dropdown-toggle" style="padding: 4px 8px;" data-toggle="dropdown">
              <i class="fas fa-pen"></i>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" >Edit</a>
              <a class="dropdown-item" >Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>